.top-bar {
    color: rgb(160, 16, 16);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

.custom-breadcrumb {
    --bs-breadcrumb-divider: ">";
}

.breadcrumb-item {
    margin-top: 13px;
    margin-left: 5px;
}

.custom-breadcrumb .breadcrumb a {
    font-size: medium;
    text-decoration: none;
    color: rgb(160, 16, 16);
}